.container {
  margin: 120px auto;
  max-width: 600px;
  background: #f9f7fe;
  border-radius: 10px;
}

body {
  background-color: #adc2ec;
  font-family: monospace, "Courier New", Courier;
}

header {
  margin-bottom: 30px;
}

h1 {
  color: #473636;
  text-align: center;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
}

form {
  padding: 30px;
  background: #f9f7fe;
  margin-bottom: 30px;
  border-radius: 10px;
  display: flex;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
}

.prompt {
  padding: 16px;
  border: 1px solid #879fcf;
  width: 80%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 1.5;
  color: #473636;
}

.button {
  margin-left: 10px;
  padding: 14px 24px;
  width: 150px;
  border: 1px solid #879fcf;
  font-size: 16px;
  border-radius: 50px;
  color: white;
  background: #71bbb2;
}

.poem {
  font-size: 16px;
  background: #f9f7fe;
  color: #473636;
  padding: 20px;
  line-height: 2;
  border-left: 3px solid #879fcf;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
}

footer {
  text-align: center;
  font-size: 14px;
  margin-top: 30px;
  color: rgba(0, 0, 0, 0.5);
}

a {
  color: rgba(0, 0, 0, 0.5);
}
